@use "../../scss/colors" as *;
@use "../../scss/font" as *;
@use "../../scss/mixins" as *;

@font-face{
    font-family: "Future-Std-Bold";
    src: url(../../../public/assets/fonts/Futura-Std-Bold.otf);
}

  // Scrollbar customization
//   ::-webkit-scrollbar {
//     width: 16px;
// }

// ::-webkit-scrollbar-track {
//   background: #a5a2a2;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #fcfcfc;
//   border-radius: 10px;
//   border: 3px solid #ffffff;
// }

.mainCont {
  /* background-color: #282c34; */
  min-height: 100%;
  color: white;
  // overflow: hidden;
  position: fixed;
  bottom: 0%;
  right: 2em;
  z-index: 99;
}

.chatWrap {
  width: 330px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 200px;
  transition: all 1s;
  font-family: "Future-Std-Bold";

  .chatBoxCont {
    width: 100%;
    height: 100%;
    background-color: beige;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px 20px;

    .chatHeader {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      
      border-bottom: 1px rgba(151, 151, 151, 0.645) solid;
      padding-bottom: 2px;
      
      h1 {
        color: rgb(53, 26, 8);
        font-size: medium;
      }
      svg {
        cursor: pointer;
      }
      // position: absolute
      // top: -10%, 
      //right: -20px, 
    }
  }
}

.textInputContainer {
  height: 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  .chatBoxText {
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(201, 201, 201);
    resize: none;
    border: none;
    outline: none;
    height: 30%;
    width: 100%;
    cursor: text;
    position: relative;
    z-index: 10;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid rgba(151, 151, 151, 0.645);
    border-radius: 10px;
    padding: 5px 20px;
  }
}

.transcriptArea{
  // width: 100%;
  height: 75%;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px;

  .transcriptArea:hover {
    overflow-y: overlay;
  }
}

.chatIconWrap{
  width: 50px;
  height: 50px;
  transform: rotateY(180deg);
  position: absolute;
  bottom: 10px;
  left: 165px;
  transition: all 0.5;
}

.chatTranscript {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin-bottom: 8px;
  margin-top: 5px;
  color: black;
  min-height: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .chatPlayerSpan {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    // margin: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
  }

  .chatTimeSpan{
    margin: 0 !important;
    color: grey;
    font-size: small;
  }
}

#support-tagline{
  color: rgb(53, 26, 8);;
  padding: 0px;
}