

.mainCont {
    background-color: #457571;
    min-height: 100vh;
    position: relative;
    
    overflow: hidden;
    
  }
  
  .chatBoxText {
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    resize: none;
    border: none;
    outline: none;
    width: 365px;
    height: 100%;
    cursor:text;
    position: relative;
    z-index: 10;
    margin-top: 20px;
    font-size: 15px;
    
  }
  
  .chatBoxCont {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
  }
  
  .transcriptArea{
    width: 100%;
    height: 75%;
    overflow-y: hidden;
    
    scroll-behavior: smooth;
  }
  
  .transcriptArea:hover {
    overflow-y: overlay;
    
    
   }
   
   ::-webkit-scrollbar {
       width: 16px;
     }
   
     ::-webkit-scrollbar-track {
       background: #a5a2a2;
     }
   
     ::-webkit-scrollbar-thumb {
       background-color: #fcfcfc;
       border-radius: 10px;
       border: 3px solid #ffffff;
     }
   
   
  
  .chatWrap {
    color: white;
    width: 370px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 200px;
    transition: all 1s;
    
  }
  
  
  .chatIconWrap{
   
    width: 95px;
    height: 95px;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 10px;
    left: 165px;
    transition: all 0.5;
  }
  
  .chatTranscript {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: relative;
    margin-bottom: 8px;
    margin-top: 5px;
    color: black;
    min-height: 20px;
    
    
  }
  
  
  .chatPlayerSpan {
    width: 20px;
    height: 20px;
    position: absolute;
    
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  