.c-container {
  display: flex;
  max-width: 507px;
  overflow: hidden;
  box-shadow: 0px 15px 15px -5px;
  background-color: beige;
  border: 4px solid #f38c59;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  margin-top: 20%;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
  }
  
  .img-container {
    align-self: center;
  }

  .img-container img {
    padding: 15px;
    overflow: hidden;
    height: 150px;
    border-radius: 15%;
  }
  
  .c-name {
    flex-grow: 1;
    padding: 15px;

    @media only screen and (max-width: 768px) {
      padding: 0;
      flex-grow: .5;
    }
    
    ul {
      text-align: left;
      margin: 0;
      padding-left: 0pt;
      li {
        padding: 5px;
        padding-left: 5px;
        list-style-type: none;
      }
      #list-name {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  #update-button {
    margin-right: 4px;
    margin-top: 3px;
    padding: 5px;
    font-size: 9.5px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: #fcb414;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    &:after,
    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s;
    }
    &:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid rgb(219, 74, 74);
      border-left: 5px solid rgb(219, 74, 74);
    }
    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid rgb(219, 74, 74);
      border-right: 5px solid rgb(219, 74, 74);
    }
    &:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      background:rgba(250, 250, 250, 0.5);
      color:rgb(0, 0, 0);
      &:before,
      &:after {
        width: 94%;
        height: 94%;
        // border-color:white;
      }
    }
  }
}

.card-name {
  font-size: 15px;
  font-weight: bold;
}
