.paginationButtons {
    width: 50%;
    padding-top: 10px;
    padding-left: 5px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    color:rgb(252, 249, 251);

}

.paginationButtons a {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(4, 153, 198);
    color:rgb(22, 22, 22);
    cursor: pointer;
}

.paginationButtons a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(35, 169, 231);
}