
.create-account-form {
    padding-top: 100px;
}

.create-account-form {
    text-align: center;
    vertical-align: center;
    border: 5px solid black;
    padding: 15px;
    border-radius: 10%;
    border-color: rgb(190, 137, 137);
    background-color: #F26925;
}
.create-button {
    padding: 8px;
    border-radius: 4px;
    padding: 7px;
    border-color: rgb(122, 37, 37) ;
    background-color: #F26925;
    font-weight: 250;
    cursor: pointer;
    color: white;
}

.create-button:hover {
    background-color: white;
    color: black;
}

.viewall-button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #F26925;
  font-weight: 250;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
