
  .create-button {
    border: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #F26925;
    font-weight: 250;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.viewall-button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #F26925;
  font-weight: 250;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

// .topbar-Container {
//   height: 50px;
//   width: 100%;
//   background: white;
//   display: flex;
//   align-items: center;
//   position: sticky;
//   top: 0;
//   z-index: 999;
// }

// .topbar-Left {
//   display: flex;
//   flex-direction: row;
// }

// .topbar-Right {
//   flex: 4;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   color: white;
//   margin-right: 50px;
// }

// .topbar-Center {
//   flex: 5;
// }
