.t-background {
    width: 300px;
    //background-color: rgb(245, 185, 185);
    justify-content: center;
    align-items: center;

    .t-container {   
        height: 100px;
        background-color: rgb(255, 255, 255);
        display: flex;
        border-radius: 12px;
        box-shadow: rgba(1, 3, 0, 35) 0px 5px 15px;
        flex-direction: column;
        padding: 20px;

        .t-close-button {
            display: flex;
            justify-content: flex-end;
        }
    }
}