
.body {
  background-color: rgb(247, 167, 18);
}

  .savings-button {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(97, 221, 66);
    font-weight: 300;
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

  .checking-button {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(97, 221, 66);
    font-weight: 300;
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

  .create-button {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(25, 173, 25);
    font-weight: 300;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}