video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed 100%;
    z-index: -4;

}

#textOverlay{
    position: absolute;
    top: 50%;
    left: 32%;
    z-index: 1;
    color:#fff;
    
    
}

.video-container{
    /* background: url('/Frontend/app-app/public/cupcake.png') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
   

}

.video-container >h1{
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
     
}

.video-container >p{
    color: #fff;
    font-size: 32px;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.video-btns{
    margin-top: 32px;
}

.video-btns .btn{
    margin: 6px;
}

.fa-play-circle{
    margin-left: 4px;
    
}

@media screen and (max-width:960px) {
    .video-container >h1{
        font-size: 70px;
        margin-top: -150px;
    }
    
}

@media screen and (max-width: 768px){
    .video-container >h1{
        font-size: 50px;
        margin-top: -100px;
    }

    .video-container >p{
        font-size: 30px;
    }

    .btn-mobile{
        display: block; 
        text-decoration: none;
    }

    .btn{
        width: 100%;
    }

    #videoH1{
        color: #fff;
    }

    #videoP{
        color: #fff;
        
    }
    
    #thyme{
        color:rgb(57, 192, 147)
    }
    
}