@use "../../scss/colors" as *;
@use "../../scss/font" as *;

.acctCard{
    border-radius: 20px;
    background-color: beige;
    color: black;
    margin: 20px;
    width: 350px;
    border: $rev-orange 3px solid;
    box-shadow: 0 0 6px 3px rgb(65, 64, 64);
}

.acctCardHeader{
    background-color: #F26925;
    color: black;  
    border-radius: 20px 20px 0px 0px;
    padding: 1px 0px; 
    margin-bottom: 30px;
}

.acctCardFooter{
    background-color: #FCB414;
    color: black;  
    border-radius: 0px 0px 20px 20px ;
    padding: 2.5px;
    margin-top: 30px;
    cursor: pointer;
}

.acctCardHeader h3{
    font-size: large;  
}

.acctCard p{
    font-size: medium;
    padding: 2px;
    margin: 0px;
}

.viewMore{
    background-color: #72A4C2;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 17px;
}

.transactionsTable{
    background-color: beige;
    border: $rev-orange 5px solid;
}

.transactionsTable th{
    background-color: $rev-yellow;
    padding:5px 10px;
    position: fi;
}

.transactionsTable td{
    border: none;
    padding: 0px 4px;
    margin: 0px !important;
}

.transactionsTable tr{
    border: 1px solid black;
}

.moreDetails{
    display: none;
}

.moreDetailsShown{
    display: block;
}

