@use "../../scss/colors" as *;
@use "../../scss/font" as *;
@use "../../scss/mixins" as *;

#dashboard-container {
     display: flex;
     flex-direction: column;

    #acctCards{
         display: flex;
         flex-direction: column;
        float: left;
        overflow-y:auto;
    }

    #main-area{
        float: right;
        display: flex;
        flex-direction: column;
        
    }
    
    #latestTransactions{
        display: flex;
        flex-direction: column;
    }

    #more-details-here{
        background-color: #FCB414;
        box-shadow: 0 0 9px 3px rgb(58, 58, 58);
    }
}

@font-face{
    font-family: "Future-Std-Bold";
    src: url(../../../public/fonts/Futura-Std-Bold.otf);
  }

  #dashTitle{
      background-color: $rev-orange;
      opacity: 85%;
      box-shadow: 0 0 9px 3px rgb(58, 58, 58);
      margin-bottom: 20px;
      border-radius: 20px;
      min-width: 400px;
  }

.acctCard{
    border-radius: 20px;
    background-color: beige;
    color: black;
    margin: 20px;
    width: fit-content;
    min-width: 350px;
    box-shadow: 0 0 9px 3px rgb(58, 58, 58);

    p {
        font-size: medium;
        margin: 5px;
    }
    
}

.acctCardHeader{
    background-color: #F26925;
    color: black;
    border-radius: 20px 20px 0px 0px;
    padding: 1px 0px; 
    margin-bottom: 30px;

    h3{
        font-size: large;
    }
}

.acctCardFooter{
    background-color: #FCB414;
    color: black;  
    border-radius: 0px 0px 20px 20px ;
    padding: 0.25px 0;
    margin-top: 30px;
    height: 100%;
    p{
    cursor: pointer;
    }
}

.viewMore{
    background-color: #72A4C2;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 17px;
}

.transactionsTable{
    background-color: beige;
    border: $rev-orange 5px solid;
    margin: 10px;
}

.transactionsTable th{
    background-color: $rev-blue;
    padding: 5px 10px;
}

.transactionsTable td{
    border: none;
    padding: 0px 4px;
    margin: 0px !important;
}

.transactionsTable tr{
    border: 1px solid black;
}

#dashboard-container, #acctCards{

    align-items: center;

}

.complete-btn{
    background-color: $rev-orange;
    border: 1px solid #b84e19;
    padding: 12px 15px;
    border-radius: 24px;
    margin: 10px;
    font-weight: bold;
}

.gray-btn {
    background-color: $rev-lightgrey;
    border: 1px solid #888;
    padding: 4px 8px;
    border-radius: 15px;
    margin: 5px;
    color: black;
}

.dark-gray-btn {
    background-color: $rev-yellow;
    border: 1px solid $rev-orange;
    padding: 4px 8px;
    border-radius: 15px;
    margin: 5px;
    color: #cb561c;
}

.close-btn {
    background-color: beige;
    border: 1px solid #888;
    padding: 3px 6px;
    border-radius: 12px;
    margin: 5px;
    color: black;
}