.main1 {
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    /* background-image: url("./images/reciBack.jpg");  */
  
    /* background-image: url("../../images/pexels-mart-production-8108051.jpg");  */
    /* background-image: url("./images/pexels-ioana-motoc-4346328.jpg");  */
    /* background-size: cover;  */
    background-size: cover !important;
    background-attachment: fixed;
    height: 100vh;
  }
  .sub-main1 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 1000px;
    background: rgba(248, 70, 0, 0.986);
    color:#fff;
    top:50%;
    left:50%;
    padding-top: 30px;
    border-radius: 175px; 
   
  
  }
  .imgs{
      padding-top: 10px;
      justify-content: center;
      display: flex;
  
  
    }
  .container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
    /* background-image: url("../../images/profile.jpg");  */
  
  }
  .profile {
    color: rgb(209, 205, 205);
    height: 100px;
    width: 100px;
    border-radius: 130px;
  
  } 
  #t1{
    margin-left: 18%;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
    background-color: transparent;
  
  }
  .form{
    margin-left:-30px;
  }
  p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
  }
  #signinput{
    width: 100%;
    margin-bottom: 30px;
  
  }
  #signinput[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    
    color:rgb(255, 255, 255);
    font-size: 16px;
   text-align: left;
  } 
  #button1{
    width: 180px;
    height: 50px;
    border-radius: 60px;
    background-color:gray;
    color: white;
    font-size: 25px;
    border: none;
    outline:none;
  }
  .login-button1{
    padding-top: 10px;
    margin-left: 20px;
  
  }
  #button1:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
  }
  
  .link{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
  }
  .loga{
    text-decoration: none;
    color: #fff;
  }
  
  .loga:hover{
    color: #39dc79;
  }
  