@use "./colors" as *;
@use "./font" as *;
@use "./mixins" as *;

// Anything Global goes here

body{
  // background-color: $backgroundcolor;
  background-image: url("../../public/assests/image/jellyfish.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pageTitle, .title{
  color: white;
}

.page-container {
  margin-top: 55px;
  padding: 50px;
  @media (max-width: 768px) {
    margin-top: 0rem;
  }
}